header{
     background: red

}
 .costa  {
   position: absolute;
   width: 298px;
   height: 389px;
   left: 0px;
   top: 305px;
 }

.eu {
  position: absolute;
  width: 298px;
  height: 389px;
  left: 0px;
  top: 635px;
}
